body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  /* Use the bold weight for headers */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  /* Use the bold weight for headers */
    padding-top: 30px; /* Adjusts the padding at the top of the h1 elements */
    padding-bottom: 10px; /* Adjusts the padding at the bottom of the h1 elements */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  /* Use the bold weight for headers */
    padding-top: 20px; /* Adjusts the padding at the top of the h1 elements */
    padding-bottom: 10px; /* Adjusts the padding at the bottom of the h1 elements */
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  /* Use the regular weight for paragraphs */
}

a {
    color: #0068ff;
}

a:hover {
    color: #0056cc;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Use the bold weight for headers */
}

.main-content {
    max-width: 1300px; /* This is an example. Adjust as needed */
    margin: auto; /* This will center the layout if the screen is wider than max-width */
    padding: 1em 0; /* This adds padding at the top and bottom of the content */
}

.container {
    max-width: 1300px; /* Adjust as necessary */
    margin: auto;
    width: 100%; /* This will make the container take up the full width of its parent */
    padding: 0; /* remove the default padding */
}

.navbar-nav .nav-link {
    font-weight: bold; /* Make all links in header bold */
    color: #000000; /* Make all links in header pure black */
}

.navbar-nav .nav-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

footer {
    background-color: #000; /* Change footer color to black */
    color: #fff; /* Change text color to white for better contrast against black background */
    margin-top: auto;
}

#main-header {
    transition: top 0.6s;
}

#main-header.sticky {
    top: -100px;
}


.contact-info div {
    display: inline-block;
    margin-bottom: 15px;
}

.contact-info.flex-column {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: inline-block;
    margin-right: 15px;
}

/* section styles */
.section1 {
    background-color: #f0f0f0; /* gray */
    width: 100%;
    box-sizing: border-box; 
    padding: 20px; 
}

.section2 {
    background-color: #e0e0e0; /* slightly lighter gray */
    width: 100%;
    box-sizing: border-box; 
    padding: 20px; 
}

.section3 {
    background-color: #d0d0d0; /* even lighter gray */
    width: 100%;
    box-sizing: border-box; 
    padding: 20px; 
}

.section4 {
    background-color: #c0c0c0; /* very light gray */
    width: 100%;
    box-sizing: border-box; 
    padding: 20px; 
}


.badge-container {
    margin-top: 0px;
    padding-left: 0;
}

.badge {
    margin-right: 5px;
}


#cta {
    color: #333;
}
#cta h2 {
    margin-bottom: 20px;
}
#cta .contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#cta .contact-item {
    margin: 10px;
}
#cta .contact-item a {
    color: #0068ff;
    text-decoration: none;
}
