{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">About Us</h1>
    
    <div class="row">
        <!-- Person 1: Alexey Efimik -->
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="https://avatars.githubusercontent.com/u/90410359?v=4" class="card-img-top rounded-circle img-thumbnail mx-auto d-block" style="width:200px;" alt="Alexey Efimik">
                <div class="card-body">
                    <h5 class="card-title text-center">Alexey Efimik</h5>
                    <p class="card-text">Brief bio goes here. Talk about your experience, skills, and role in this project.</p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/efimik/" class="btn btn-primary mr-2"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="https://github.com/Alexey3250" class="btn btn-primary mr-2"><i class="fab fa-github"></i> GitHub</a>
                        <a href="https://t.me/Alexey_Efimik" class="btn btn-primary"><i class="fab fa-telegram-plane"></i> Telegram</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Person 2: Ilia Svetlichnyi -->
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="https://avatars.githubusercontent.com/u/90410359?v=4" class="card-img-top rounded-circle img-thumbnail mx-auto d-block" style="width:200px;" alt="Ilia Svetlichnyi">
                <div class="card-body">
                    <h5 class="card-title text-center">Ilia Svetlichnyi</h5>
                    <p class="card-text">Brief bio goes here. Talk about your experience, skills, and role in this project.</p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/svetlichnyi-ilia/" class="btn btn-primary mr-2"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="https://github.com/ilia-svetlichnyi" class="btn btn-primary mr-2"><i class="fab fa-github"></i> GitHub</a>
                        <a href="https://t.me/svetlichnyi_ilia" class="btn btn-primary"><i class="fab fa-telegram-plane"></i> Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

