{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">About Us</h1>
    
    <div class="row d-flex justify-content-center"> <!-- Added d-flex and justify-content-center -->
        <!-- Person 1: Alexey Efimik -->
        <div class="col-md-6 mx-auto"> <!-- Added mx-auto -->
            <div class="card mb-4">
                <img src="https://avatars.githubusercontent.com/u/90410359?v=4" class="card-img-top rounded-circle img-thumbnail mx-auto d-block" style="width:200px;" alt="Alexey Efimik">
                <div class="card-body">
                    <h5 class="card-title text-center">Alexey Efimik</h5>
                    <p class="card-text">A passionate data analyst with extensive experience in SQL, Python, Tableau, and other data visualization tools. Holds an extensive track record of using predictive modeling to solve complex business problems.</p>
                    <div class="d-flex justify-content-center">
                        <a href="/portfolio/alexey_efimik" class="btn btn-primary"><i class="fas fa-user"></i> Portfolio page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
